@model MyJira.Services.ViewModel.ProjectMemberViewModel

<h2>Добавить участника в проект</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<form asp-action="AddProjectMember" method="post">

    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />

    <div class="mb-3">
        <label for="userSelect" class="form-label">Выберите участника</label>
        <select id="userSelect" name="MemberId" class="form-select" required>
            <option value="">-- Выберите участника --</option>
            @foreach (var memberDTO in Model.MemberDTOs)
            {
                <option value="@memberDTO.Id">@memberDTO.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>