MyJira/appsettings.json
MyJira/appsettings.Development.json
.vs
MyJira/bin/ 
MyJira.Entity/bin/ 
MyJira.Infastructure/bin/ 
MyJira/obj/ 
MyJira.Entity/obj/ 
MyJira.Infastructure/obj/
MyJira.Repository/obj/
MyJira.Repository/bin/
MyJira.Services/obj/
MyJira.sln
MyJira.Services/bin/