@model MyJira.Services.ViewModel.SetToRoleViewModel
@{
    ViewData["Title"] = "Назначить роль пользователю";
}

<h2>Назначить роль пользователю</h2>

<form asp-action="SetUserToRole" asp-controller="Roles" method="post">
    <div class="mb-3">
        <label asp-for="MemberId" class="form-label">ID участника (MemberId)</label>
        <input asp-for="MemberId" class="form-control"  placeholder="Введите MemberId" required />
    </div>

    <div class="mb-3">
        <label asp-for="RoleName" class="form-label">Роль</label>
      @*   <select asp-for="RoleName" class="form-select" required>
            <option value="">-- Выберите роль --</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
            <option value="Manager">Manager</option>
        </select> *@
        <label asp-for="RoleName" class="form-label">Введите название Role</label>
        <input asp-for="RoleName" class="form-control"  placeholder="Введите название Role" required />
    </div>

    <button type="submit" class="btn btn-primary">Назначить роль</button>
</form>